body {
    padding: 0;
    margin: 0;
}

.site-header{
    display: block;
    margin: -25px; 
}

.header-img{
    display: block;
    margin: 25px auto;
    width: 100%;
}

/* Navigation Bar */
.sections{
    position: absolute;
    margin-top: -25px;
    width: auto;
}

.nav {
    width: auto;
}

li { 
    display: inline-block;
    padding: 0px 25px 0px 15px;
    text-transform:uppercase;
    font-family:'Raleway' , sans-serif;
    font-size: 11px;
    font-weight: bold;   
}

a:link, a:visited{
    text-decoration: none;
    color: #f1f1f1;
}

/* style for the nav list */
a:hover, .dropdown:hover .dropbtn{
    color:#efc011;
}
.dropbtn {
    display: inline-block;
    text-align: center;
    text-decoration: none;
  }

li.dropdown {
    display: inline-block;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
.dropdown-content a {
    color: #002e5d;
    padding: 12px 16px;
    text-decoration: none;
    text-transform: none;
    display: block;
    text-align: left;
  }
  
.dropdown-content a:hover {
    background-color: #f1f1f1;
    color: #efc011;
}
  
.dropdown:hover .dropdown-content {
    display: block;
  }

a:active{
    color: #efc011;
}

h1 {
    font-size: 6em;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'arial';
    font-weight: bold;
    top: 50%;
    left: 40%;
    color: #002e5d;
}

/*.container {
    margin:20px auto;
    width: 685px;
    height: 10cm;
    background: #795c32;
    display: grid;
    grid-gap: 200px;
    grid-template-columns: repeat(3, 1fr);
}

.box {
    grid-row-start: 2;
    grid-row-end: span 2;
    grid-column-start: 0;
    grid-column-end: 3; 
}*/

.headline-container{
    margin: 5px;
}

.sample-img{
    width: 670px;
    height: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3%;
    cursor: pointer;
    filter: brightness(100%);
    transition: filter .3s ease;
}

h2 {
    font-size: 3em;
    text-align: center;
    font-family: 'raleway', sans-serif;
    position: absolute;
    color: #002e5d;
    bottom: -25%;
    position: absolute;
    margin-left: 25%;
}

p {
    font-size: 2em;
    text-align: center;
    font-family:'raleway', sans-serif;
    position: absolute;
    color: #efc011;
    bottom: -30%;  
    margin-left: 25%;
    position: absolute; 
}

.text-container{
    font-size: 15px;
    margin-right: 50px auto;
    width: 51%;
    text-align: justify;
    font-family:'raleway', sans-serif;
    color: #002e5d;
    bottom: -50%;
    position: absolute;
    white-space: pre-line;
    margin-left: 25%;
}