body {
    padding: 0;
    margin: 0;
}

.site-header{
    display: block;
    margin: -25px; ; 
}

.header-img{
    display: block;
    margin: 25px auto;
    width: 100%;
}

/* Navigation Bar */
.sections{
    width: auto;
    font-family: 'raleway', sans-serif;
    margin-top: -50px; 
}

a:visited{
    color: #f1f1f1;
}

li {
    display: inline-block;
    padding: 0px 25px 0px 15px;
    text-transform:uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #002e5d; 
}

a:link {
    text-decoration: none;
}

/* style for the nav list */
a:hover, .dropdown:hover .dropbtn{
    color:#efc011;
}
.dropbtn {
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

li.dropdown {
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: #002e5d;
    padding: 12px 16px;
    text-decoration: none;
    text-transform: none;
    display: block;
    text-align: left;
}
  
.dropdown-content a:hover {
    background-color: #f1f1f1;
    color: #efc011;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

h1 {
    font-size: 6em;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'arial';
    font-weight: bold;
    top: 50%;
    left: 40%;
    color: #002e5d;
}

h2 {
    font-size: 3em;
    text-align: center;
    padding-left: 25%;
    font-family: arial;
    position: absolute;
    color: #002e5d;   
    position: absolute;
}

p{
    font-size: 2em;
    text-align: center;
    padding-left: 25%;
    font-family: 'raleway', sans-serif;
    position: absolute;
    color: gray;
    bottom: 32%;  
    position: absolute;
}

#first {
    font-size: 15px;
    text-align: justify;
    font-family:'raleway', sans-serif;
    color: black;
    margin-bottom: -6%;
    position: absolute;
    white-space: pre-line;
}

.overflow-visible {
    white-space: initial;
}

.overflow-clip {
    text-overflow: clip;
}
  
.overflow-ellipsis {
    text-overflow: ellipsis;
}
